div.cuadro {
    padding: 10px;
    border: 1px solid rgb(173, 172, 172);
    background-color: #b1aeae83;
    border-radius: 30px;
    display: grid;
    place-items: center;
}

div.mapa {
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 30px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

div.grande {
    display: block;
}

div.chico {
    display: none;

}

@media only screen and (min-width:768px) {
    div.grande {
        display: none;
    }

    div.chico {
        display: block;
    }
}