body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

nav {
    flex: 0 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 30px;
    align-items: center;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px;
}

/* Estilos para el logo */
.logo {
    flex: 0 0 auto;
    width: 100px;
    height: auto;
}

main {
    font-family: 'Poppins', sans-serif;
}

footer {
    font-size: xx-small;
    text-align: center;
    align-items: center;
}