body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

nav {
    flex: 0 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 30px;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
    background-color: #b1aeae83;
    color: beige;
}

nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav li ul {
    display: none;
    min-width: 90%;
    align-content: center;
}

nav li:hover > ul{
display: block;
transition: 10s;
}

/* Estilos para el logo */
.logo {
    flex: 0 0 auto;
    width: 100px;
    height: auto;
}

main {
    font-family: 'Poppins', sans-serif;
}

footer {
    font-size: xx-small;
    text-align: center;
    align-items: center;
}