body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
  
  header {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  section li {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
  }
  
  section li:hover {
    background-color: #eee;
  }
  
  section li h3 {
    margin-top: 0;
  }
  
  section li p {
    margin: 10px 0;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Estilo específico para la sección AMD */
  #amd-section {
    background-color: #eee;
  }
  
  /* Estilo específico para la sección Intel */
  #intel-section {
    background-color: #ccc;
  }
  
  .tamaño-imagen {
    max-height: 200px;
    display: block;
    margin: 0 auto;
  }
  
  footer {
    font-size: xx-small;
    text-align: center;
    align-items: center;
}

main {
  font-family: 'Poppins', sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
