body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

header {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    width: 100%;
}

h2 {
    font-size: 1vw;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 30px;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


main {
    width: 100%;
}


.container-general {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

#baner {
    height: 100%;
    width: 100%;
    max-height: 450px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: 200px;
    margin-right: 200px;
}

.container>div {
    padding-left: 10px;
    padding-right: 10px;
}


.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    line-height: 1.5;
    margin: 0;
}

.hide-text {
    font-size: 0;
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    color: #fff;
    height: 0 !important;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0 !important;
}

.best-sellers-container{
    display: grid; 
    grid-template-rows: auto auto;
}

.best-sellers {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

.best-sellers-item {
    flex: 1 0 25%;
    transition: transform 0.5s ease;
    padding-left: 5px;
    padding-right: 5px;
}

.best-sellers-item img {
    width: 100%;
    height: 75%;
}

.best-sellers-item div {
    width: 100%;
    height: 25%;
}

.sinopsis {
    z-index: 99;
    text-align: left;
    position:sticky;
    top: 0;
    font-size: 1vw;
}

.carrito {
    display: grid;
    grid-template-columns: auto 5px auto;
    align-items: center;
}

.carrito img{
    height: 3vw;
}
.carrito span {
    font-size: 1vw;
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#Componentes {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-flow: wrap;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 20px;
}

#Componentes > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#Componentes > div > img {
    transition: transform 0.3s linear;
}

#Componentes > div >img:hover {
    -webkit-transform:scale(1.05,1.05);
    -moz-transform:scale(1.05,1.05);
    -o-transform:scale(1.05,1.05);
    transform:scale(1.05,1.05);
}

#Componentes > div > p {
    text-align: center;
    font-size: 1vw;
}

.news {
    margin: 10px;
}

@media only screen and (min-width: 2900px) {
    .best-sellers-item {
        flex: 1 0 25%;
        transition: transform 0.5s ease;
    }

    .container {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        margin-left: 200px;
        margin-right: 200px;
    }
    .sinopsis {
        position: relative;
    }

    #baner {
        height: 100%;
        width: 100%;
        max-height: 1200px;
        margin-bottom: 20px;
    }
    #Componentes > div > img {
        transition: transform 0.3s linear;
        width: 10vw;
    }
    .best-sellers-item div {
        font-size: 0.7vw;
    }
    
    header > div > img {
        min-width: 5vw;
    }

    nav a{
        font-size: 1vw;
    }
    nav div{
        min-width: 4vw;
    }
}


@media only screen and (max-width: 2900px) and (min-width: 2400px) {
    .best-sellers-item {
        flex: 1 0 20%;
        transition: transform 0.5s ease;
    }

    .container {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-left: 200px;
        margin-right: 200px;
    }
    .sinopsis {
        position: relative;
    }

    #baner {
        height: 100%;
        width: 100%;
        max-height: 600px;
        margin-bottom: 20px;
    }
    #Componentes > div > img {
        transition: transform 0.3s linear;
        width: 10vw;
    }
    .best-sellers {
        min-height: 400px;
    }
    .best-sellers-item div {
        font-size: 0.7vw;
    }
    header > div > img {
        min-width: 5vw;
    }

    nav a{
        font-size: 1vw;
    }
    nav div{
        min-width: 4vw;
    }
        
}


@media only screen and (max-width: 1300px) and (min-width: 900px) {
    .best-sellers-item {
        flex: 1 0 33.33%;
        transition: transform 0.5s ease;
    }

    .container {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 100px;
        margin-right: 100px;
    }
    .sinopsis {
        position: relative;
        font-size: 15px;
    }
    .sinopsis h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
        margin: 0;
    }
    #Componentes > div > p {
        font-size: 15px;
    }
    
    #Componentes > div > img {
        width: 150px;
}

}

@media only screen and (max-width: 900px) and (min-width: 500px) {
    .best-sellers-item {
        flex: 1 0 50%;
        transition: transform 0.5s ease;
    }

    .container {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 100px;
        margin-right: 100px;
    }
    .sinopsis {
        position: relative;
        font-size: 15px;
    }
    .sinopsis h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
        margin: 0;
    }
    #Componentes > div > p {
        font-size: 15px;
    }
    
    #Componentes > div > img {
        width: 150px;
}
}

@media only screen and (max-width: 500px) and (min-width: 0px) {
    .best-sellers-item {
        flex: 1 0 100%;
        transition: transform 0.5s ease;
    }
    .container {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }
    .sinopsis {
        position: relative;
        font-size: 15px;
    }
    .sinopsis h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
        margin: 0;
    }
    #Componentes > div > p {
        font-size: 5vw;
    }
    
    #Componentes > div > img {
        width: 25vw;
}
}
