<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Productos</title>
    <link rel="shortcut icon" href="FavIcon.ico"/>
    <link rel="stylesheet" href="css/PyStyle.css">
</head>

<body>
    <header>
        <a class="logo" href="pagina_inicio.html"><img class="logo" src="Logo.png" alt="Logo de TechDreams"></a>
    </header>
    <h1>Eliminación de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Fabricante</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="product in productos" :key="product.codigo">
                <td>{{ product.codigo }}</td>
                <td>{{ product.nombreProducto }}</td>
                <td>{{ product.categoria }}</td>
                <td>{{ product.precio }}</td>
                <td>{{ product.StockQuantity }}</td>
                <td>{{ product.descripcion }}</td>
                <td>
                    <img
                      width="60"
                      :src="product.imagen"
                      :alt="product.nombreProducto"
                    />
                  </td>
                <td><button type="button" class="btn btn-danger" v-on:click="eliminar_producto(product.codigo)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    productos: [],
                    url: 'https://techdreamscac.pythonanywhere.com/productos',
                    error: false,
                    cargando: true,
                };
            },
            methods: {
                fetchData(url) {
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            this.productos = data;
                            this.cargando = false;
                        })
                        .catch(err => {
                            console.error(err);
                            this.error = true;
                        });
                },
                eliminar_producto(ProductID) {
                    const url = this.url + "/eliminar-producto/" +ProductID;
                    var options = {
                        method: 'DELETE',
                    };
                    fetch(url, options)
                        .then(res => res.json())
                        .then(res => {
                            alert('Registro Eliminado');
                            location.reload();
                        });
                }
            },
            created() {
                this.fetchData(this.url);
            }
        });
    </script>
  </body>
</html>
