<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Stock</title>
    <link rel="shortcut icon" href="FavIcon.ico">
    <link rel="stylesheet" href="PyStyle.css">
</head>

<body>
    <header>
        <a class="logo" href="pagina_inicio.html"><img class="logo" src="Logo.png" alt="Logo de TechDreams"></a>
    </header>
    <div>
        <h1>Control de Inventario</h1>
        <table>
            <tr>
                <td class="contenedor-centrado"><a href="agregar.html">Agregar productos</a></td>
            </tr>

            <tr>
                <td class="contenedor-centrado"><a href="consultar.html">Consultar producto</a></td>
            </tr>

            <tr>
                <td class="contenedor-centrado"><a href="modificaciones.html">Modificar productos</a></td>
            </tr>

            <tr>
                <td class="contenedor-centrado"><a href="delete.html">Eliminar producto</a></td>
            </tr>

        </table>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</body>

</html>